@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ViewBag.Heading = "Error";
}

<div class="row">
<div class="span12">
    Sorry, an error occurred while processing your request.
</div>
</div>
