/packages
/LetsDonateStuff/App_Data/*.mdf
/LetsDonateStuff/App_Data/*.ldf
/LetsDonateStuff/bin
/LetsDonateStuff/obj
/*.suo
/LetsDonateStuff/Properties/PublishProfiles/*.pubxml
/LetsDonateStuff/Properties/PublishProfiles/*.user
Thumbs.db
