<p>
    Looks like no one has offered anything yet.
</p>
<p>
    You may have something at home that you don't use anymore like old clothes, shoes, toys, bags, books etc. 
    You can post those things on this site and people living near by your house can find them here. 
    If anyone needs one of those things, they will contact you through this site and you can give it to them.<br />
</p>
<p>
Lets prevent the land-fill, save the environment and help one another.<br />
</p>
<p>
    @Html.ActionLink("Yes I want to offer something", "Offer", "Post")
</p>
<p>
    <a href="@Url.RouteUrl("DonationListAll")">Show me what people have offered in other countries.</a>
</p>