@{
    ViewBag.Title = ViewBag.Heading = "Message Sent";
}
<div class="row">
    <div class="span12">
        Your message has been sent.<br />
        <br />
        <hr />
        @Html.ActionLink("Back to Home", "Index", null, new { @class = "lds-button" })

    </div>
</div>
