@model LetsDonateStuff.DAL.DonationRequest
@{
    string detailsLink = Url.SiteUrl() + Url.Action("Details", "Post", new { id = Model.Id });     
}
For details please visit <a href="@detailsLink">@detailsLink</a><br />
<br />
Wanted:<br />
@Model.Title<br />
<br />
Posted by:<br />
@Model.Name<br />
<br />
Note: You can contact the requester through the site. Please do not reply to this email.