<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <freecycle>
    <groups xdt:Transform="Replace">
      <add country="NL" email="Amsterdam_Freecycle@yahoogroups.com" />
    </groups>
  </freecycle>
  <appSettings>
    <add key="siteUrl" value="http://www.letsdonatestuff.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="renewInterval" value="01:00:00" />
    <add key="renewBefore" value="1.00:00:00" />
    <add key="cleanupInterval" value="02:00:00" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cleanupOlderThan" value="7.00:00:00" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="feedPushInterval" value="00:00:05" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>