@{
    ViewBag.Title = ViewBag.Heading = "FAQ";
}

<div class="row">
    <div class="span7">
        <ul>
            <li><strong>How do I transfer it to the person asking for my item?</strong>
                <p>
                    In most cases the person will pick it up from you instead of you sending it to him. However it is totally up to you and the person asking for the item, to settle on a way to transfer the item.
                </p>
                <p>As the offerer you get to chose who you want to give away the item to and what ever transfer method is most convenient for you. You're not obliged to give it to whoever asks for it.</p>
            </li>
            <li><strong>How can you be sure that the offered item is going to deserving person?</strong><br />
                <p>
                    This site is not for giving away things to poor. Although you can give stuff to poor if you can but its very less likely they'll need the things you're offering here and they won't have internet access either to use this site.
                </p>
                <p>
                    The prime purpose of the site is for re-using things from others instead of buying new ones, to save environment, to prevent waste and landfill and building a community in your area of people who help each other out by giving away stuff that they don't need.
                </p>
            </li>
            <li><strong>What if someone keeps getting stuff from others for free without actually needing them and starts selling them?</strong>
                <p>
                    The basic concept of the site is that mostly you'll be giving things away to people near by. That's why we have put a map to find people who are near you whether you're giving away something or accepting it from someone.
                </p>
                <p>
                    What this also means is that over time you'll get to know people who participate in the site in your area and you can always decide to not give it to someone who contacts you and instead give it to someone else.
                </p>
                <p>
                    Besides that if something is lying around the house and is taking up space and being wasted then its better to give it to someone who will make use of it. Whether they want to sell it and earn money from it or give it to their friend, neighbor or use it themselves.
                </p>
                <p>
                    Also it can be hard for someone to spend time and energy (and possibly transport cost) to go and meet everyone who posts free stuff on the site and collect everything they can.
                </p>
            </li>
            <li><strong>From where can I learn more about the concept?</strong>
                <p>You can read more about the concept in this <a href="http://www.overroot.com/blog/2012/02/28/the-concept-behind-letsdonatestuff-com/">blog post</a></p>
            </li>
        </ul>
    </div>
</div>
