@{
    ViewBag.Title = ViewBag.Heading = "How It Works";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/text-how-it-works.css")" media="screen" />
}
<div class="row row-fluid hidden-phone">
    <div class="span12">
        <div class="how_visual" style="margin: 0 0px 0px 100px;">
            <div class="how_row">
                <div class="how_column step_1">
                    <div class="how_title">
                        <h3>step <span>01</span></h3>
                        <h4>Find things you don't need</h4>
                    </div>
                    <div class="how_text">
                        <p>There are a lot of things lying around your house that you own but don't really need. For example you bought a stroller for your kid but now your kid is grown and you don't need it any more. Or you got a new set of speakers and want to give your old ones to someone else.</p>
                    </div>
                </div>
                <div class="how_column how_visual_1"></div>
                <div class="how_column step_2">
                    <div class="how_title">
                        <h3>step <span>02</span></h3>
                        <h4>Click "Offer Stuff" on our website</h4>
                    </div>
                    <div class="how_text">
                        <p>Fill in the offer form and click submit, one of our moderator will review your request and if it passes our posting policy, your item will be posted on our website.</p>
                    </div>
                </div>
            </div>

            <div class="how_row">
                <div class="how_column how_visual_3"></div>
                <div class="how_column step_3">
                    <div class="how_title">
                        <h3>step <span>03</span></h3>
                        <h4>People find it and contact you</h4>
                    </div>
                    <div class="how_text">
                        <p>When anyone sees anything that they need, they contact the offerer and with mutual consent they can decide on how to transfer the item after communicating with each other.</p>
                    </div>
                </div>
                <div class="how_column how_visual_2"></div>
            </div>
        </div>
    </div>
</div>
<div class="row hidden-desktop">
    <ol class="steps_text">
        <li id="step1">You find stuff at home that are of no use to you anymore so instead of throwing them away or letting them rust at home, you can give it to someone who needs them. This helps reduce clutter at home and at the same time gives you a chance to make world a better place to live for others.</li>
        <li id="step2">You can offer the item here with your name, email and the location where the item can be picked up. You can also attach the image of the object you're offering.
    After you submit your offer, we send you a confirmation email and your listing goes for moderation. One of our moderators will review and approve your post.</li>
        <li id="step3">Once approved, it is listed in the site for 7 days. People can search for it and contact you. 
    You will be sent the message from them via email.<br />
            When you reply the email, it will be sent to the person who contacted you and your email address will be revealed to them.<br />
            <br />
            From this point onwards its your responsibility to collaborate with the person and decide on when, where and how the item can be transferred.
        </li>
    </ol>
</div>
<div class="row">
    <div class="span12">
        <h1 class="page-header">Points To Note</h1>
    </div>
</div>
<div class="row">
    <ul class="points_to_note">
        <li id="point1">Collaborating with the recipient and validating their authenticity is <strong>solely your own responsibility</strong>. This is only a platform for posting your items and letting other people find it.
    We do not take responsibility of the people contacting you or the content of this site.<br />
            <br />
            Our moderation procedure is only for preventing spam. We do not have any means of validating identity of person or authenticity of posts. By participating in this site you agree that you can not hold us responsible for anything that may happen as a result of your collaboration with others.</li>
        <li id="point2"><strong>Do not post your home address</strong> with the item. You are supposed to post the address where item can be picked up.<br />
            If you are recipient then don't visit any private building to pick up the item. Always pick a public place to meet.
    Before meeting the offerer or recipient always inform someone about your visit.</li>
        <li id="point3">In your offer, mention the exact thing that you're offering; like name of the book, the kind of clothes (gender, age, etc), the size of shoes, etc.</li>
        <li id="point4">While contacting the person, explain why you need the item to help them decide whether they should give it to you or someone else.</li>
    </ul>
</div>
<div class="row">
    <div class="span12">
        <h1 class="page-header">Moderation Policy</h1>
    </div>
</div>
<div class="row">
    <ul class="policy">
        <li id="policy1">Your posted content should be legal and appropriate for all ages of audience. Any inappropriate/immoral/illegal content is not allowed to be posted on this site.</li>
        <li id="policy2">Using hate speech, profanity and inappropriate language in the post is not allowed.</li>
        <li id="policy3">Virtual goods (Stuff on the internet, software, e-book, music, movies, etc) are not allowed to be offered.</li>
        <li id="policy4">Everything posted should be absolutely free. This is not a site to sell stuff or give away things on rent.</li>
    </ul>
</div>
