@{
    ViewBag.Title = ViewBag.Heading = "Reach Us";
}

<div class="row">
    <div class="span7">
        <p>This website is for you and we would love to hear from you.</p>
        <p>If you have ideas about how to improve the site, questions, suggestions, comments or want to help us then please feel free to contact us using the button below.</p>
        <p>
            <a class="lds-button" href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog (powered by UserVoice)">Feedback & support</a>
        </p>
    </div>

    <div class="span5">
        <img alt="Reach Us" src="@Url.Content("~/Content/Images/reach-us.png")" class="hidden-phone hidden-tablet" />
    </div>
</div>
